@charset "UTF-8";

html{
	cursor:url("Img/Icono_1.png"),
		auto;
}
a:hover{
	cursor:url("Img/Icono_2.png"),
		auto;
}

.menu {
    width: 100%;
    height: 90px;
    background-color: #004EA3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.img_logo{
	width: 73px;
    height: 55px;
	padding-left: 150px;
	cursor: pointer;
	transition: 0.3s;
}

.img_logo img:hover{
	transform: scale(1.2);
}

.nav {
	list-style: none;
}

.nav li{
	display: inline-block;
	padding: 0 20px;
}

.nav li:hover{
	transform: scale(1.1);
}

.nav a{
	font-family: 'Poppins', 'san serif';
    color: #E8E8E8;
	text-decoration: none;
}

.nav li a:hover{
	cursor: pointer;
}

.bt_menu {
	width: 113px;
	height: 37px;
	background-color: #E8E8E8;
	border-radius: 5px;
	border: none;
	font-family: 'Poppins', 'san serif';
	color: #004EA3;
	font-size: 15px;
	margin-right: 100px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
}

.bt_menu a{
	text-decoration: none;
}

.bt_menu:hover{
	transform: scale(1.1);
}

.form{
	width: 100%;
	height: 1050px;
	background-color: #E8E8E8;
}

.contenido{
	width: 701px;
	height: 986px;
	padding: 30px;
	margin: auto;
}

.controls{
	width: 100%;
	background: #f4f4f4;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 18px;
	border-radius: 10px;
	margin-bottom: 20px;
	border: none;
	font-family: 'Poppins', 'san serif';
	color: #004EA3;
}

.controls_proyecto{
	width: 100%;
	background: #f4f4f4;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 100px;
	border-radius: 10px;
	margin-bottom: 20px;
	border: none;
	margin-top: 10px;
	font-family: 'Poppins', 'san serif';
	color: #004EA3;
}

h2{
	font-family: 'Poppins', bold;
	color: #2B2B2B;
	font-size: 40px;
	text-align: center;
}

h1{
	font-family: 'Poppins', bold;
	color: #004EA3;
	font-size: 18px;

}

.boton{
	width: 159px;
	height: 48px;
	background: #004ea3;
	border: none;
	padding: 2px;
	font-family: 'Poppins', 'san serif';
	color: #E8E8E8;
	font-size: 16px;
	border-radius: 6px;
	margin-top: 15px;
	margin-left: 290px;
	cursor: pointer;
}

.grupos_de_campos{
	padding-bottom: 18px
}

.checkbox_label{
	position: relative;
	font-size: 15px;
	font-family: 'Poppins', 'san serif';
	color: #004EA3;
	line-height: 1rem;
	cursor: pointer;
}

.pie_de_pagina {
	width: 100%;
    height: 225px;
    background-color: #2B2B2B;
}

.logo_footer{
	width: 25%;
    height: 135px;
	float: left;
}

.logo_fn{
	margin-left: 300px;
	margin-top: 50px;
}

.redes_footer{
	width: 20%;
    height: 135px;
	float: left;
}

.ig_fn{
	float: left;
	width: 50px;
	margin-left: 55px;
	margin-top: 90px;
}

.fb_fn{
	float: left;
	width: 50px;
	margin-left: 18px;
	margin-top: 90px;
}

.be_fn{
	float: left;
	width: 50px;
	margin-left: 18px;
	margin-top: 90px;
}

.rectangulo{
	background-color: #E8E8E8;
    height: 9px;
    width: 1000px;
    border-radius: 0px;

}

.copyright{
	font-family: 'Poppins', Bold;
    color: #E8E8E8;
	font-size: 15px;
	text-align: left;
}
